<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Vue.js Intro</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    {{ message }}
    
    <p>
    {{ name }}
    </p>
    
    <p>
    {{ animals[0] }}
    </p>

    <button v-on:click="changeMessage()"> Click Here

    </button>

    <input type="text" v-model="message">

    <p><button v-on:click="toggleInfo"> Click to Toggle Fun</button></p>
    <p v-if="showInfo"> Fun message brings all the fun</p>
  </div>
  <script src="index.js"></script>
</body>
</html>
